<div class="input_panel">
    <div>
    <%# Here you set the grid size using the X and Y axis %>
        <%= form_tag(root_path, method: :get) do %>
        <label>Set grid size:</label> 
             <%= text_field_tag :x_y, params[:x_y], autocomplete: 'off' %>
            <%= submit_tag 'Change Size', class:'button' %>
        <% end %>
        
    </div>

    <div class="rover_input">
    
    <%# By default there is one rover %>
        <%= form_tag(rovers_instructions_path, method: :get, remote: true) do %>
            <label>Set starting point :</label> 
            <%= hidden_field_tag :rover_id0,"", value:0 %>
            <%= text_field_tag :path0, params[:path0], autocomplete: 'off' %>
            <label>Give directions :</label> <%= text_field_tag :directions0, params[:directions0], autocomplete: 'off' %>
            <div class="rover_instructions"></div>
            <%= submit_tag 'Start Moving Rover', class:'start_btn button' %>
        <% end %>
    <%# Creates a new rover %>
    <%= button_to 'Generate a rover <- Click me!', create_rover_path, method: :get, remote: true, class:'create_rover button' %>
        
    </div>
</div>

    <div class="plateau_panel">
        <%# This builds the grid layout with the X,Y axis %>
        <% @grid_hash.reverse.each_with_index do |grid, index| %>
            <div class="location">
                <p>X(<%= grid.split("_")[0] %>) , Y(<%= grid.split("_")[1] %>)</p>
                <div id="<%= "#{grid.split("_")[0]}_#{grid.split("_")[1]}" %>">
                
                </div>
            </div>
        <% end %>
    </div>

    <div id="log">
    <b>Rover Action Logs:</b>
    </div>


    <script>
    var grid = <%= raw @grid_hash.to_json %>
    </script>
